extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Pugin
        span Composition
      p Welcome to Pugin Composition, the UK Parliament Bootstrap Node Application. This application inherits #[+link('https://github.com/ukparliament/parliament.uk-pugin', 'Pugin')]; the UK Parliament brand, its components and mixins enabling rapid prototyping and consistent branding across Parliamentary projects.

  section
    .container
      h2 List Block
      p Examples illustrating rendering a list block.

      ol.list--block
        +list--block('Heading for awesome list block item', 'This list item is using the +list--block mixin.')
        li
          .card
            figure.avatar--round
              +link('#', '')(tabIndex=-1)
                picture
                  +image('http://via.placeholder.com/100x100', 'image')
            .card__details
              h2 #[+link('#', 'Heading for awesome list block item')]
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas neque vel orci pharetra, maximus mattis nibh cursus.

      h2 Pipe list
      p Examples illustrating rendering a list pipe.
      
      ol.list--pipe
        +list--pipe('Heading for awesome list pipe item', 'This list item is using the +list--pipe mixin')
        li
          .card
            figure.avatar--round
              +link('#', '')(tabIndex=-1)
                picture
                  +image('http://via.placeholder.com/100x100', 'image')
            .card__details
              h2 #[+link('#', 'Heading for awesome list pipe item')]
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas neque vel orci pharetra, maximus mattis nibh cursus.
