extends ../../layouts/layout.pug



block content
  .headerTwo
    .container
      +link('/', '')
        +image('../../icons/uk-parliament.svg', 'uk parliament')(class="logo")
        //- include ../../icons/uk-parliament.svg

      .section--menu
        p--searchText Menu
        //- +link('/', '')(class='searchIcon')
        //-   include ../../icons/search.svg
        <img src="../../icons/down.svg" class="dropdownArrow"></img>
        
        //- +link('/', '')
        //-   +image('../../icons/search.svg', 'menu')(class="logo")
          //- include ../../icons/downArrow.svg

      .section--searching
        p--searchText Search
        +link('/', '')(class='searchIcon')
          include ../../icons/search.svg

      
  .headerThree
    .container
      h1.style Committees
    
  .headerBlock
    .container
      h1.committees Health and Social Care Committee
      h3.committeeText Commons Select Committee
      p.committeeText We examine the administration, expenditure and policy of the Department of Health and its associated bodies.
      p.committeeLink Find out more about the Committee’s role 
  .container    
    ul.list--tab(class="committeeTab")
      li #[+link('surname.html', 'Work')]
      li.active Membership
      li #[+link('party.html', 'Events')]
      li #[+link('search.html', 'Publications')]  
      li #[+link('search.html', 'News')] 
    h3.committeeHeading 11 current committee members
    ol.list--block
      +list--block('Ms Diane Abbott', 'Selby & Ainsty', 'Labour', 'https://api.parliament.uk/photo/S3bGSTqn.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')
      +list--block('Debbie Abrahams', 'Selby & Ainsty', 'Labour', 'https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')
      +list--block('Nigel Adams', 'Selby & Ainsty', 'Labour', 'https://api.parliament.uk/photo/7xQEDGdb.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')
      +list--block('Anna Soubry', 'Selby & Ainsty', 'Labour', 'https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')
      +list--block('Nigel Adams', 'Selby & Ainsty', 'Labour', 'https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')

  
