extends ../../layouts/layout.pug

block content
  .headerTwo
    .container
      +link('/', '')
        +image('../../icons/uk-parliament.svg', 'uk parliament')(class="logo")
        //- include ../../icons/uk-parliament.svg

      .section--menu
        p--searchText Menu
        //- +link('/', '')(class='searchIcon')
        //-   include ../../icons/search.svg
        <img src="../../icons/down.svg" class="dropdownArrow"></img>
        
        //- +link('/', '')
        //-   +image('../../icons/search.svg', 'menu')(class="logo")
          //- include ../../icons/downArrow.svg

      .section--searching
        p--searchText Search
        +link('/', '')(class='searchIcon')
          include ../../icons/search.svg        

      
  .headerThree
    .container
      h1.style Members

  .container
    <div class="accent"></div>
    .block
      h2 Find a Member of Parliament
      ul.list--tab
        li #[+link('index.html', 'By Postcode')]
        li #[+link('surname.html', 'By Surname')]
        li #[+link('party.html', 'By Party or Group')]
        li.active By Searching
        
        

      
      .section
        +form('searchResults.html')
          .input-group
            //- type, name, id, regex pattern, max length, label, label class + additional attributes
            +input--validate('search', 'q', 'globalSearch', '^(?!.*<script|<Script).*$', '1000', 'Enter the name of the MP you are looking for.')

            button(type='submit', class='btn--white', aria-label='submit search')
              include ../../icons/search.svg
