extends ../../layouts/layout.pug

block content
  .container
    .accent
    .block
      h2 Find a Member of Parliament
      ul.list--tab
        li #[+link('index.html', 'By Postcode')]
        li #[+link('surname.html', 'By Surname')]
        li #[+link('party.html', 'By Party or Group')]
        li.active By Searching
        
        
      .section
        +form('javascript:console.log("search submitted")', 'post')
          .input-group
            //- type, name, id, regex pattern, max length, label, label class + additional attributes
            +input--validate('search', 'q', 'globalSearch', '^(?!.*<script|<Script).*$', '1000', 'Enter the name of the MP you are looking for.')(value='starmer')
            button(type='submit', class='btn--white', aria-label='submit search')
              include ../../icons/search.svg
    ol.list--block
      +list--block('Kier Starmer', 'Holborn and St Pancras', 'Labour', 'https://api.parliament.uk/photo/X9dwBvuR.jpeg?crop=CU_1:1&width=186&quality=80', 'Margot James')(href='https://beta.parliament.uk/people/eauZKtTP')
