doctype html
html(lang="en")
  include ../../node_modules/parliamentuk-pugin/src/elements/head.pug
  body.no-js
    include ../../node_modules/parliamentuk-pugin/src/elements/_elements.pug
    //include ../../node_modules/parliamentuk-pugin/src/components/status.pug
    include ../../node_modules/parliamentuk-pugin/src/components/header.pug
    //include ../../node_modules/parliamentuk-pugin/src/components/navigation-main.pug
    main
      block content
    include ../../node_modules/parliamentuk-pugin/src/components/footer.pug
    script(src="/javascripts/main.js")
    script(src="/javascripts/overrides.js")
    block script
